.btn {
    &--primary {
        background: $color-primary;
        border: 0;
        padding: 5px 25px;
        padding-right: 55px;
        font-weight: 500;
        border-radius:65px;
        font-size: 14px;
        color: $color-dark; 
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none !important;
        width: fit-content;
        height: 45px;
        position: relative;
        line-height: 100%;
        transition: .2s;
        &--icon{
            width: 35px;
            height: 35px;
            border-radius: 100%;
            background: $color-white;
            position: absolute;
            right: 5px;
            display: flex;
            // align-items: center;
            justify-content: center;
            padding-top: 7px;
            overflow: hidden;
            div{
                width: 28px;
                min-height: 68px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                transition: .2s;
            }
        }
        &:hover {
            color: $color-dark;
            transform: rotate(-2deg);
            .btn--primary--icon {
                div {
                    transform: translateY(-47px);
                }
            }
        }
        @media (max-width: 592px) {
            height: 41px;
            padding: 5px 20px;
            padding-right: 45px;
            &--icon{
                width: 31px;
                height: 31px;
                padding-top: 5px;
            }
        }
    }
    &--link{
        padding: 5px 25px;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: $color-white;
        text-decoration: underline !important;
        display: inline-block;

        &:hover {
            color: $color-white;
            opacity: 0.9;
        }
    }
    &--navbtn{
        background: $color-primary;
        border: 0;
        padding: 6px 25px;
        font-weight: 500;
        border-radius: 8px;
        font-size: 14px;
        color: $color-dark; 
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none !important;
        width: fit-content;
        height: 42px;
        position: relative;
        line-height: 100%;
        transition: .2s;

        &:hover {
            color: $color-dark;
            // transform: rotate(-3deg);

        }
    }
    &--secondary{
        background: transparent;
        border: 1px solid $color-primary;
        padding: 6px 25px;
        font-weight: 500;
        border-radius: 66px;
        font-size: 14px;
        color: $color-white; 
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none !important;
        width: fit-content;
        height: 42px;
        position: relative;
        line-height: 100%;
        transition: .2s;

        &:hover {
            color: $color-white;
            // transform: rotate(-3deg);

        }
    }
    &--search {
        background-color: $color-navy;
        color: $color-white;
        font-size: 18px;
        text-transform: uppercase;
        padding: 8px 16px;
        width: 168px;
        text-align: center;
        max-width: 100%;
        display: inline-block;
        border-radius: 0;
        @include transition(0.5s);
        border: 2px solid $color-navy;
        &:hover {
            border: 2px solid $color-navy;
            color: $color-navy;
            background-color: $color-white;
        }
    }
    &--scroll-down {
        color: $color-white;
        background-color: $color-navy;
        border: 1px solid $color-white;
        padding: 5px 12px;
        border-radius: 100%;
        &:hover {
            background-color: $color-darkred;
            @include transition(0.5s);
            color: $color-white;
        }
    }
    &--white {
        color: $color-white;
        border: 2px solid $color-white;
        background: transparent;
        padding: 8px 44px;
        font-family: $font-third;
        font-weight: normal;
        border-radius: 3px;
        font-size: 18px;
        text-align: center;
        @include transition(.5s);
        text-decoration: none !important;
        text-transform: uppercase;
        &:hover {
            background-color: $color-darkred;
            @include transition(0.5s);
            color: $color-white;
            border: 2px solid $color-darkred;
        }
    }
    &--view {
        padding: 0;
        color: $color-secondary;
        font-weight: 600;
        @include transition(.4s);
        &:after {
            content: '';
            width: 19px;
            background: $sprite-all;
            background-position: -282px -68px;
            height: 12px;
            display: inline-block;
            margin-left: 10px;
        }
        &:hover {
            @include transform_translate(10px, 0);
        }
    }
    &--back {
        font-weight: bold;
        padding: 0;
        margin: 10px 0;
        @include transition(.4s);
        &:before {
            content: '';
            width: 19px;
            background: $sprite-all;
            background-position: -259px -68px;
            height: 12px;
            display: inline-block;
            margin-right: 10px;
        }
        &:hover {
            @include transform_translate(10px, 0);
        }
    }
    &--header {
        display: inline-block;
        border: 1px solid #c4c4c4;
        color: #0b476c;
        font-weight: 600;
        padding: 14px 0;
        width: 100%;
        &:hover {
            background: $color-primary;
            color: $color-white;
        }
    }
    &--view {
        display: inline-block;
        border: 1px solid #c4c4c4;
        color: #0b476c;
        font-weight: 600;
        padding: 19px 0;
        width: 100%;
    }
    &--status-incomplete {
        width: 100%;
        background: #ead4d4;
        color: #af191a !important;
        padding: 10px;
        font-weight: 600;
    }
    &--status-completed {
        width: 100%;
        background: #a3f3a7;
        color: #176d1b !important;
        padding: 10px;
        font-weight: 600;
    }
    &--select {
        border: 1px solid $color-navy;
        text-transform: uppercase;
        font-size: .9em;
    }
}