

footer{
    width: 100%;
    background: url('../images/footer-bg.png') no-repeat center center;
    background-size: cover;
    // height: 400px;



    .footer-container{
        padding-top: 80px;

        &--main{
            margin-bottom: 80px;
            display: flex;
            justify-content: space-between;
            gap: 60px;

            &--info{
                display: flex;
                flex-direction: column;
                gap: 18px;

                .foo-logo-cta{
                    max-width: 260px;
                }
                p{
                    font-size: 14px;
                    font-weight: 400;
                    color: $color-white;
                    margin-bottom: 0 !important;
                    max-width: 340px;
                    opacity: 0.8;
                }
                div{
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    a{
                        color: $color-white;
                        text-decoration: none !important;
                        font-size: 18px;
                        

                    }
                }
            }
            &--links{
                display: flex;
                justify-content: space-between;
                gap: 60px;
                width: 780px;
                h3{
                    color: $color-white;
                    font-size: 20px;
                    font-weight: 600;
                }
                a{
                    color: $color-white;
                    text-decoration: none !important;
                    font-size: 14px;
                    font-weight: 400;
                    margin-block: 10px;
                    opacity: 0.8;

                    &:hover {
                        opacity: 1;
                    }
                }
                div{
                    display: flex;
                    flex-direction: column;

                }
            }

            @media screen and (max-width: 992px) {
                flex-direction: column;
                align-items: center;
                &--info{
                    align-items: center;
                    p{
                        text-align: center;
                    }
                }
                &--links{
                    flex-direction: column;
                    align-items: center;
                    gap: 40px;
                    width: 100%;
                    div{
                        align-items: center;

                        a, h3{
                            text-align: center;
                        }
                    }
                }
            }
        }
        &--foo{
            width: 100%;
            padding: 15px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid hsla(0, 0%, 100%, 0.29);
            padding-bottom: 20px !important;
            p{
                font-size: 14px;
                font-weight: 400;
                color: $color-white;
                margin-bottom: 0 !important;
            }

            div{
                display: flex;
                align-items: center;
                gap: 15px;

                a{
                    color: $color-white;
                    text-decoration: none !important;
                    font-size: 14px;
                    transition: .2s;
                    font-weight: 400;
                }
            }
            @media screen and (max-width: 592px) {
                flex-wrap: wrap;
                gap: 10px;
                align-items: center;
                justify-content: center;

                p, a{
                    text-align: center;
                }
                
            }
        }   
    
    }
}

.footer-cta-section{
    width: 100%;
    background: url('../images/ctas-background.png') no-repeat center center;
    background-size: cover;
    padding: 112px 15px;
    position: relative;
    h2{
        max-width: 540px;
        color: $color-white;
        position: relative;
        z-index: 1;
    }
    p{
        max-width: 580px;
        font-weight: 300;
        color: $color-white;
        margin-bottom: 0 !important;
        z-index: 1;
        position: relative;
    }
    &--buttons{
        z-index: 1;
        position: relative;
        margin-top: 24px;
        display: flex;
        gap: 15px;
    }
    @media only screen and (max-width: 592px) {
        &::after{
            position: absolute;
            content: '';
            inset: 0;
            background: rgba(0, 0, 0, 0.5);
            z-index: 0;
        }
        h2,p{
            text-align: center;
        }
        &--buttons{
            align-items: center;
            justify-content: center;
        }
    }

}