
.page--homepage{
    // margin-top: $header-height;
    // margin-bottom: 80px;
    .section{
        &__hero{
            height: $homepage-hero-height;
            background: url('../images/hero-bg.png') no-repeat center center;
            background-size: cover;
            position: relative;
            &--main{
                padding-block: 112px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                h1,p{
                    color: $color-white;
                }
                h1{
                    max-width: 680px;
                }
                &--highlights{
                    display: flex;
                    gap: 12px;
                    row-gap: 12px;
                    margin-bottom: 14px;
                    flex-wrap: wrap;
                    .highlight{
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        font-size: 12px;
                        font-weight: 500;
                        color: $color-white;
                        border: 1px solid hsla(0, 0%, 100%, 0.29);
                        border-radius: 8px;
                        background-color: hsla(0, 0%, 100%, 0.12);
                        padding: 10px 16px;
                        backdrop-filter: blur(12px);
                    }
                    @media only screen and (max-width: 992px) {
                        gap: 8px;
                        row-gap: 8px;
                    }
                }
                p{
                    max-width: 580px;
                    font-weight: 300;
                    margin-bottom: 0 !important;
                }
                &--cta{
                    margin-top: 24px;
                    display: flex;
                    gap: 15px;
                    align-items: center;
                }
                @media only screen and (max-width: 592px) {
                    flex-direction: column;
                    align-items: center;
                    &--highlights{
                        align-items: center;
                        justify-content: center;
                    }
                    h1,p{
                        text-align: center;
                    }
                    &--cta{
                        flex-direction: column;
                        width: 100%;
                        row-gap: 17px;
                        align-items: center;
                    }
                }
            }
            .home-hero-arrow{
                position: absolute;
                bottom: -40px;
                left: 50%;
                transform: translateX(-50%);
                padding: 10px;
                border-radius: 65px;
                background-color: $color-white;
                display: flex;
                align-items: center;
                justify-content: center;

                &--div{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: $color-primary;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg{
                        transform: translateX(1px);
                    }
                }
            }
        }
        &__about{
            height: 100rem;
            background-color: $background-gray;
        }
    }



}